.image-filters-editor {
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: transparent;
    --tw-ring-color: var(--wp-admin-theme-color);
}
.image-filters-editor *,
.image-filters-editor *:after,
.image-filters-editor *:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add more styles here specific to the editor only */
.image-filters-editor.ifb-modal {
    @apply fixed z-high inset-0 overflow-y-auto;
}

@keyframes ifb-pulse {
    50% { opacity: 0.5 }
}
@keyframes ifb-pulse-light {
    50% { opacity: 0.1 }
}

.image-filters-editor .animate-pulse-light {
    animation: ifb-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.image-filters-editor .animate-pulse-light {
    animation: ifb-pulse-light 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.image-filters-editor .checkbox-control-mb-0 .components-base-control__field {
    @apply mb-0;
}
.image-filters-editor .checkbox-control-mb-0 .components-checkbox-control__input-container {
    @apply mr-2;
}
